* {
    margin: 0;
}

header {
    width: 100%;
    height: 120px;
    background-color: mediumaquamarine;
    text-align: center;
}

body {
    flex: wrap;
    background-image: url(achtergrond-Clickx-website.jpg);
}

h1 {
    padding-top: 50px;
    font-size: 25px;
    font-family: cursive;
    color: white;
}

.navigatie ul {
    list-style-type: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 15px;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.navigatie li {
    float: left;
}

.navigatie li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: solid;
}

li a:hover {
background-color: turquoise;
}

.kolommen {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 150px;
    
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: white;
    background-color: black;
    text-align: center
}


