* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAF9F7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkblue;
    font-family: Courier,"monospace";
}


header img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    gap: 2px;
}

.logo {
    width: 140px;
    height: 65px;
    object-fit: fill;
    padding: 10px 10px;
}

.navigation {
    list-style: none;
}

.navigation li {
    display: inline-block;
    padding: 0px 20px;
    text-align: center;
}

.thuis {
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    font-family: Courier,"monospace";
}

.universe {
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    font-family: Courier,"monospace";
}

.review {
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    font-family: Courier,"monospace";
}

.feedback {
    border-color: #f5f5f5;
    background: #f5f5f5;
    color: #57be8e;
    border-radius: 6px;
    padding: 5px;
    font-size: 20px;
    color: #57be8e;
    display: flex;
    align-items: center;
    font-family: Courier,"monospace";
}

.doelen {
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    font-family: Courier,"monospace";
}

.lead {
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    font-family: Courier,"monospace";
}

.meer {
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    font-family: Courier,"monospace";
}

.drie {
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    font-family: Courier,"monospace";
}

.eind_header {
    list-style: none;
}

.eind_header li {
    display: inline-block;
    padding: 0px 20px;
    font-family: Courier,"monospace";
}

.eind_header img {
    align-items: center;
}

.levelbar {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    object-fit: cover;
}

.profiel {
    width: 30px;
    height: 30px;
    object-fit: cover;
    justify-content: flex-start;
    border-radius: 30px;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 40px;
}


.card {
    right: -1100px;
    bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 300px;
    height: 500px;
    padding: 25px;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    font-family: Courier,"monospace";
}

.card img {
    display: flex;
    width: 250px;
    height: 127px;
    object-fit: fill;
}

h5 {
    display: block;
    color: white;
    padding: 10px;
    border-radius: 6px;
    background-color: green;
    text-align: center;

}

table {
    margin-bottom: 30px;
    top: 80px;
    left: 250px;
    border-collapse: collapse;
    height: 270px;
    width: 766px;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    margin: 0px;
  }
  
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    justify-content: flex-start;
    width: 766px;
  }
  
